<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>File Uploader</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="styles/index.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Scripts -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/437a6927d3.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="theme">

        <div class="shape-circle"></div>

        <div class="container-fluid">

            <div class="row">
                <!-- GOOGLE DRIVE Logo -->
                <div class="col-6 mt-5 p-0">
                    <div class="d-flex justify-content-between">
                        <img src="/images/drive.png" class="d-none d-lg-block wh-32 mr-3 mt-2" alt="drive">
                        <div>
                            <h1 class="text-title">GOOGLE DRIVE</h1>
                            <p class="text-para ml-2">File sharing platform</p>
                        </div>
                    </div>
                </div>

                <!-- FILE UPLOADER with Signin-->
                <div class="col-6 content-right">
                    <h1 class="text-center ml-3 mt-4">FILE UPLOADER!</h1>
                    <div class="d-none d-lg-block text-justify text-para2">
                        You can upload any type of file such as documents, images, videos and music. There is no
                        restriction on the number of file size. Use this application to it's full potential.
                    </div>
                    <div class="text-center mt-4 ml-3">
                        <a href="<%=url%>" class="btn btn-outline-light layout signin">
                            <em class="fab fa-google"></em>
                            <span class="pl-2">Sign In</span>
                        </a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>

</html>