{% extends 'frontend/index.html' %}
{% load static %}
{% load socialaccount %}
{% block content %}
<h3>Upload Files</h3>

<div class="row">
    <div class="col-md-12">
        <a href='{% provider_login_url "google" %}' class="btn btn-lg btn-google btn-block text-uppercase btn-outline">
            <img src="https://img.icons8.com/color/16/000000/google-logo.png">
            Signup Using Google
        </a>
    </div>
</div>


<div class="row d-flex justify-content-center mt-100">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h5>File Upload</h5>
            </div>
            <div class="card-block">
                <form class="dropzone" action="/" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="fallback">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <!-- <input name="file" type="file" multiple /> -->
                    </div>
                </form>
                <div class="text-center m-t-20">
                    <form method="get">
                        <button type="submit" class="btn btn-danger">Clear</button>
                    </form>
                    <button type="submit" class="btn btn-primary">Upload Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}